body {
    background-color:aqua;
}

h1 {
    color:darkgreen;
}

h1 + p {
    color:crimson;
}

h2 {
    color: bisque;
}

p {
    color: dimgray;
}
ol li:nth-child(1) {
    color: blueviolet;
}
ol li:nth-child(2) {
    color: aliceblue;
}
ol li:nth-child(3) {
    color: peru;
}
ol li:nth-child(4) {
    color: chartreuse;
}
ol li:nth-child(5) {
    color: goldenrod;
}